*{
    box-sizing: border-box;
}
body{
    background: #4568DC;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #B06AB3, #4568DC);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #B06AB3, #4568DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    font-family: "poppins",sans-serif;
    margin:0;
    display:flex;
    align-items:center;
    justify-content:center;
    margin:2rem;
    min-height:100vh;
}
.mobile-container{
    width:400px;
    background-color:white;
    box-shadow: 0 0 10px 2px black;
    border-radius: 3px;
    overflow: hidden;

}.fav-meals li .clear{
    background-color: transparent;
    border: none;
    position: absolute;
    top: -0.5rem;
    right: -0.5rem;
    font-size: 1.5rem;
    opacity: 0;

}
.fav-meals li :hover.clear{
    opacity: 1;
}
img{
    max-width:100%;

}
header{
    display:flex;
    align-items:center;
    justify-content:center;
    padding:1rem;
}
header input{
    padding:0.5rem 1rem;
    border:none;
    border-radius:3px;
    background-color:#eee;

}
header button{
    background-color:transparent;
    color:#eee;
    border:none;
    font-size:1rem;
    margin-left:20px;
}
.fav-container{
    background-color: rgb(243, 238, 165);
    text-align: center;
    padding:1rem;
    
}
.fav-meals{
    display:flex ;
    list-style-type: none;
    padding: 0;
    
}
.fav-meals li img{
    border:2px solid white;
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
}
.fav-meals li img span{
    font-size: 0.9rem;
    border-radius: 10px;
    margin: 1.5rem;


}
.fav-meals li {

    position: relative;
    width:85px;

}
.meal-header{

    position: relative;
}
.meal{
    margin:10px;
    border-radius: 3px;


}
.meal-body{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.meal header img{
    height: 240px;
    width: 100%;
    object-fit: cover;

}
.meal-header.random{
    position: absolute;
  margin-top: 20px;
  background-color: #eee;

}
.meal-body button{
    background-color: transparent;
    border:none;
    
}